<?xml version="1.0"?>
<!-- One weld_arm at the origin, for validating the geometry. -->
<robot name="single_arm" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find weld_cell)/urdf/weld_arm.xacro"/>
  <link name="world"/>
  <xacro:weld_arm prefix="a_" parent="world" x="0" y="0" z="0" yaw="0"/>
</robot>
